{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6 col-md-6 ">
                <h1 class="display-4 text-center">{{ title }}</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}