{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6 col-md-6 ">
                <h1 class="display-4 text-center">{{ title }}</h1>
                <a href="{{ path('admin_user_create') }}" class="btn btn-success">Создать пользователя</a><br/>
                <h2>Список пользователей</h2>
                <ul>
                    {% for user in users %}
                        <li>{{ user.email }} - {{ user.roles | json_encode }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}