{% extends 'main/base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-4 col-md-4">
            <div class="form-login shadow-lg">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Логин: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выход</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Вход в админку</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Пароль</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-block btn-primary mt-5" type="submit">
                       Вход
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
