{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-5"><p>{{ message }}</p></div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <h1 class="display-4 text-center">{{ title }}</h1>
                {% if (category is not empty) %}
                    <a href="{{ path('admin_post_create') }}" class="btn btn-success mb-2">Создать пост</a>
                {% else %}
                    <p>Прежде чем создать пост, нужно создать категорию.</p>
                {% endif %}
                <a href="{{ path('admin_category_create') }}" class="btn btn-success mb-2">Создать категорию</a>
                {##<a href="{{ path('admin_post_delete') }}" class="btn btn-success">Удалить пост</a><br/>#}
                {% if (posts is not empty) %}
                    <h2>Список постов</h2>
                    <ul>
                        {% for post in posts %}
                            <li>{{ post.title }} - <a class="btn-link" href="{{ path('admin_post_update', {'id': post.id}) }}">Редактировать</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}