<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-free-5.13.0-web/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.5.0-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
                <i class="fas fa-microchip"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Главная <span class="sr-only"></span></a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('adminHome') }}" class="btn btn-sm btn-outline-secondary">Админка</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary">Вход</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/framework/bootstrap-4.5.0-dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/framework/vue/vue.min.js') }}"></script>
            {% block addJs %}{% endblock %}
        {% endblock %}
    </body>
</html>
