{% extends 'main/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6 text-center">
                <h1 class="display-4">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 text-center mt-5">
                {#{% verbatim %}
                    <div id="app">
                        <h1 class="display-1">[[ message ]]</h1>
                    </div>
                #{% endverbatim %}#}
                <div id="app">
                    <h1 class="display-1">[[ message ]]</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block addJs %}
    <script>
        Vue.options.delimiters = ['[[',']]'];
        let app = new Vue({
            el: '#app',
            data: {
                'message': 'Hello world!'
            },
            //delimiters: ['[[',']]'],
        });
    </script>
{% endblock %}