<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-free-5.13.0-web/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.5.0-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">
            Админка <i class="fas fa-microchip ml-2"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('adminHome') }}">Главная <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_user') }}">Список пользователей <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_post') }}">Посты <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category') }}">Категории <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Сайт <span class="sr-only"></span></a>
                </li>
            </ul>
            <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-info my-sm-0 my-2">Выход</a>
        </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/framework/bootstrap-4.5.0-dist/js/bootstrap.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/framework/bootstrap-4.5.0-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/framework/vue/vue.min.js') }}"></script>
    {% endblock %}
</body>
</html>
