{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-5"><p>{{ message }}</p></div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <h1 class="display-4 text-center">{{ title }}</h1>
                <a href="{{ path('admin_category_create') }}" class="btn btn-success">Создать категорию</a><br/>
                {##<a href="{{ path('admin_category_delete') }}" class="btn btn-success">Удалить категорию</a><br/>#}
                <h2>Список категорий</h2>
                <ul>
                    {% for category in categories %}
                        <li>{{ category.title }} - <a class="btn-link" href="{{ path('admin_category_update', {'id': category.id}) }}">Редактировать</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}